<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/workspace_style.css' %}">
    <script src="{% static 'blog/packages/react.development.js' %}"></script>
    <script src="{% static 'blog/packages/react-dom.development.js' %}"></script>
    <script defer src="{% static 'blog/packages/phoenix.js' %}"></script>
    <script defer src="{% static 'blog/js/workspace.js' %}"></script>

</head>
<body>
    <div id="root">

    </div>
</body>
</html> 

